<html manifest="m.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript" src="${ctx}/html5/m.js">
    
    if (window.applicationCache.status == window.applicationCache.UPDATEREADY) 
    	｛
    	 window.applicationCache.update(); 
               ｝
    </script>
</head>
<body>
	ver:1
	<p>
		<input type="button" value="shwo_ver" onclick="show_ver();" />
	<p>
		<input type="button" value="load_js" onclick="load_js();" />
	<p>
		<input type="button" value="is_online" onclick="is_online();" />
	<p>
</body>
</html>
