<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" manifest="html5">
<head>
<meta charset="utf-8">


<script type="text/javascript">
	localStorage.lastname = "Smith";
	document.write(localStorage.lastname);

	if (localStorage.pagecount)

	{

		localStorage.pagecount = Number(localStorage.pagecount) + 1;

	}

	else

	{

		localStorage.pagecount = 1;

	}

	document.write("Visits " + localStorage.pagecount + " time(s).");

	sessionStorage.lastname = "Smith";

	document.write(sessionStorage.lastname);

	if (sessionStorage.pagecount)

	{

		sessionStorage.pagecount = Number(sessionStorage.pagecount) + 1;

	}

	else

	{

		sessionStorage.pagecount = 1;

	}

	document.write("Visits " + sessionStorage.pagecount
			+ " time(s) this session.");
</script>
</head>
<body>
	<input id="myCar" list="cars" />

	<datalist id="cars">
		<option value="BMW">
		<option value="Ford">
		<option value="Volvo">
	</datalist>


	<form action="form_action.asp" method="get" name="sumform">
		<output name="sum"></output>
		<keygen keytype="rsa" form="sumform" />
	</form>


</body>
</html>